<h1>Danh sách sản phẩm</h1>
<a routerLink="/productCreate">Tạo mới sản phẩm</a>
<table>
  <tr>
    <td>STT</td>
    <td>Tên</td>
    <td>Giá</td>
    <td>Category</td>
    <td colspan="2"></td>
  </tr>
  <tr *ngFor="let product of products; index as i">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.category.name}}</td>
    <td><a [routerLink]="['/productEdit',product.id]">Edit</a></td>
    <!--    <td><a [routerLink]="['/product/delete',product.id]">Delete</a></td>-->
    <td>
      <!--      <mat-cell *matCellDef="let row">-->
      <!--      <button mat-icon-button color="primary" (click)="onEdit(row)"><mat-icon>delete</mat-icon></button>-->
      <!--      </mat-cell>-->
    </td>
    <td>
      <button color="primary" (click)="onDelete(product.id)">delete</button>
    </td>
  </tr>
</table>

