<div class="card body-card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
    Danh Sách Khách Hàng
  </h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <div style="display: flex; justify-content: flex-end">
            <span class="table-add float-right mb-3 mr-2">
                <a [routerLink]="['/create-customer']" class="text-success"><i class="fas fa-plus fa-2x" aria-hidden="true"></i></a>
            </span>
      </div>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
        <tr >
          <th class="text-center">STT</th>
          <th class="text-center">Mã khách hàng</th>
          <th class="text-center">Tên khách hàng</th>
          <th class="text-center">Ngày sinh</th>
          <th class="text-center">Giới tính</th>
          <th class="text-center">CMND/CCCD</th>
          <th class="text-center">Điện thoại</th>
          <th class="text-center">Email</th>
          <th class="text-center">Địa chỉ</th>
          <th class="text-center">Loại khách hàng</th>
          <th class="text-center">Edit</th>
          <th class="text-center">Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let customer of customers; index as i">
          <td class="pt-3-half" >{{i+1}}</td>
          <td class="pt-3-half" >{{customer.customerCode}}</td>
          <td class="pt-3-half">{{customer.customerName}}</td>
          <td class="pt-3-half">{{customer.customerBirthday}}</td>
          <td class="pt-3-half">
            <p *ngIf="customer.customerGender == 1"> Nam</p>
            <p *ngIf="customer.customerGender == 0"> Nữ</p>
          </td>
          <td class="pt-3-half">{{customer.customerIDCard}}</td>
          <td class="pt-3-half">{{customer.customerPhone}}</td>
          <td class="pt-3-half">{{customer.customerEmail}}</td>
          <td class="pt-3-half">{{customer.customerAddress}}</td>
          <td class="pt-3-half">
            <p *ngIf="customer.customerType.customerTypeId==1">Diamond</p>
            <p *ngIf="customer.customerType.customerTypeId==2">Platinium</p>
            <p *ngIf="customer.customerType.customerTypeId==3">Gold</p>
            <p *ngIf="customer.customerType.customerTypeId==4">silver</p>
            <p *ngIf="customer.customerType.customerTypeId==5">Member</p>
          </td>
          <td>
            <span class="table-remove">
              <button routerLink="/edit-customer/{{customer.customerId}}"
                      type="button" class="btn btn-info btn-rounded btn-sm my-0">Edit</button>
            </span>
          </td>
          <td>
<!--              <button mat-raised-button color="warn" (click)="deleteCustomer(customer)"><mat-icon>delete</mat-icon></button>-->
            <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal"
                    (click)="getIdAndName(customer.customerId,customer.customerName)" >
              Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
<!--      Pagination-->
      <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">

          <!--Arrow left-->
          <li class="page-item">
            <a type="button" class="page-link" aria-label="Previous" (click)="previous()">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>

          <li class="page-item active">
            <a class="page-link">{{number + 1}}
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <a>/</a>
          <li class="page-item">
            <a class="page-link" >{{totalPages}}</a>
          </li>


          <li class="page-item">
            <a type="button" class="page-link" aria-label="Next" (click)="next()">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
<!--      Pagination-->
    </div>
  </div>
</div>
<!--Modal delete-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa khách hàng</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn xóa {{nameDelete}}</p>
      </div>
      <div class="modal-footer">
        <button #closeModal type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" (click)="modalDelete(closeModal)">Xóa</button>
      </div>
    </div>
  </div>
</div>
