<div class="body-edit">
  <div class="container-lg">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="contact-form">
          <h1>Thêm Mới </h1>
          <form novalidate="novalidate"
                [formGroup]="formCreate" (ngSubmit)="create()">
            <div class="form-group">
              <label>Danh mục: </label>
              <select class="form-control" name="danhMuc" formControlName="danhMuc">
                <option *ngFor="let danhMuc of danhMucList"
                        [ngValue]="danhMuc" [selected]="danhMuc">{{danhMuc.tenDanhMuc}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Vùng miền: : </label>
              <select class="form-control" name="vungMien" formControlName="vungMien">
                <option *ngFor="let vungMien of vungMienList"
                        [ngValue]="vungMien" [selected]="vungMien">{{vungMien.tenVungMien}}</option>
              </select>
            </div>
            <div class="form-group">
              <label style="margin-right: 70px">Bạn là: </label>
                <label style="margin-right: 15px">
                  <input name="doiTuong" formControlName="doiTuong" type="radio" value="0"/>Cá nhân
                </label>
                <label style="margin-right: 15px">
                  <input name="doiTuong" formControlName="doiTuong" type="radio" value="1"/>Công Ty
                </label>
            </div>
            <div class="form-group">
              <label style="margin-right: 25px">Bạn đăng tin: </label>
<!--              <select class="form-control" name="loaiDangTin" formControlName="loaiDangTin">-->
<!--                <option *ngFor="let loaiDangTin of loaiDangTinList"-->
<!--                        [ngValue]="loaiDangTin" [selected]="loaiDangTin">{{loaiDangTin.loaiTin}}</option>-->
<!--              </select>-->
              <label *ngFor="let loaiDangTin of loaiDangTinList" style="margin-right: 15px">
                <input name="loaiDangTin" formControlName="loaiDangTin" type="radio"
                 [value]="loaiDangTin"/> {{loaiDangTin.loaiTin}}
              </label>
            </div>
            <div class="form-group">
              <label style="margin-right: 40px">Tình trạng: </label>
                <label style="margin-right: 15px">
                  <input name="tinhTrang" formControlName="tinhTrang" type="radio" value="0"/> Mới
                </label>
                <label style="margin-right: 15px">
                  <input name="tinhTrang" formControlName="tinhTrang" type="radio" value="1"/>Đã sử dụng
                </label>
            </div>
            <div class="form-group">
              <label>Địa chỉ <span class="const">*</span>: </label>
              <input type="text" name="diaChi" class="form-control" formControlName="diaChi"
                     required/>
              <div *ngIf="diaChi.invalid&&(diaChi.touched||diaChi.dirty)">
                <p [hidden]="!diaChi.errors.required">
                  <span style="color: red">Không được bỏ trống</span>
                </p>
              </div>
            </div>
            <div class="form-group">
              <label>Diện tích<span class="const">*</span>: </label>
              <input type="text" name="dienTich" class="form-control" formControlName="dienTich"
                     required/>
              <div *ngIf="dienTich.invalid&&(dienTich.touched||dienTich.dirty)">
                <p [hidden]="!dienTich.errors.required">
                  <span style="color: red">Không được bỏ trống.</span>
                </p>
                <p [hidden]="!dienTich.errors.pattern">
                  <span style="color: red">Phải là số thực</span>
                </p>
                <p [hidden]="!dienTich.errors.min">
                  <span style="color: red">Phải lớn hơn 20 m<sup>2</sup></span>
                </p>
              </div>
            </div>
            <div class="form-group">
              <label>Hướng: </label>
              <select class="form-control" name="phuongHuong" formControlName="phuongHuong">
                <option *ngFor="let phuongHuong of phuongHuongList"
                        [ngValue]="phuongHuong" [selected]="phuongHuong">{{phuongHuong.tenHuong}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Tựa đề <span class="const">*</span>: </label>
              <input type="text" name="tieuDe" class="form-control" formControlName="tieuDe"
                     required/>
              <div *ngIf="tieuDe.invalid&&(tieuDe.touched||tieuDe.dirty)">
                <p [hidden]="!tieuDe.errors.required">
                  <span style="color: red">Không được bỏ trống.</span>
                </p>
              </div>
            </div>
            <div class="form-group">
              <label>Nội dung <span class="const">*</span>: </label>
              <textarea type="text" name="noiDung" class="form-control" formControlName="noiDung"
                        maxlength="200" required></textarea>
              <div *ngIf="noiDung.invalid&&(noiDung.touched||noiDung.dirty)">
                <p [hidden]="!noiDung.errors.required">
                  <span style="color: red">Không được bỏ trống.</span>
                </p>
              </div>
            </div>
            <div class="form-group">
              <label>Giá<span class="const">*</span>: </label>
              <input type="text" name="giaTien" class="form-control" formControlName="giaTien"
                     required/>
              <div *ngIf="giaTien.invalid&&(giaTien.touched||giaTien.dirty)">
                <p [hidden]="!giaTien.errors.required">
                  <span style="color: red">Không được bỏ trống.</span>
                </p>
                <p [hidden]="!giaTien.errors.pattern">
                  <span style="color: red">Phải là số thực</span>
                </p>
                <p [hidden]="!giaTien.errors.min">
                  <span style="color: red">Phải là số lớn hơn 100.000.000 VND</span>
                </p>
              </div>
            </div>
            <div class="text-center">
              <a style="margin-right: 15px" href="/list" class="btn btn-primary"> Hủy
              </a>
              <button type="submit" class="btn btn-primary" [disabled]="formCreate.invalid"><i
                class="fa fa-paper-plane"></i>Xác nhận
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
