<div class="card body-card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
    Danh Sách Hợp đồng
  </h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <div style="display: flex; justify-content: flex-end">
            <span class="table-add float-right mb-3 mr-2">
                <a [routerLink]="['/create-contract']" class="text-success"><i class="fas fa-plus fa-2x" aria-hidden="true"></i></a>
            </span>
      </div>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
        <tr>
          <th class="text-center">STT</th>
          <th class="text-center">Mã hợp đồng</th>
          <th class="text-center">Họ tên khách hàng</th>
          <th class="text-center">Họ tên nhân viên tạo</th>
          <th class="text-center">Tên dịch vụ</th>
          <th class="text-center">Ngày bắt đầu thuê</th>
          <th class="text-center">Ngày kết thúc thuê</th>
          <th class="text-center">Đặt cọc</th>
          <th class="text-center">Tổng tiền</th>
          <th class="text-center">Edit</th>
          <th class="text-center">Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let contract of contracts">
          <td class="pt-3-half">{{contract.contractId}}</td>
          <td class="pt-3-half">{{contract.contractCode}}</td>
          <td class="pt-3-half">{{contract.customerName}}</td>
          <td class="pt-3-half">{{contract.employeeName}}</td>
          <td class="pt-3-half">{{contract.facilityName}}</td>
          <td class="pt-3-half">{{contract.contractStartDate}}</td>
          <td class="pt-3-half">{{contract.contractEndDate}}</td>
          <td class="pt-3-half">{{contract.contractDeposit}}</td>
          <td class="pt-3-half">{{contract.contractTotalMoney}}</td>
          <td>
                        <span class="table-remove">
                            <button type="button" class="btn btn-info btn-rounded btn-sm my-0">Edit</button>
                         </span>
          </td>
          <td>
                      <span class="table-remove">
                          <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button>
                      </span>
          </td>
        </tr>
        <!-- This is our clonable table line -->
<!--        <tr>-->
<!--          <td class="pt-3-half">2</td>-->
<!--          <td class="pt-3-half">HD-0002</td>-->
<!--          <td class="pt-3-half">Dương Minh Tuyền</td>-->
<!--          <td class="pt-3-half">Nguyễn Văn Bê</td>-->
<!--          <td class="pt-3-half">Phòng Suite hướng biển</td>-->
<!--          <td class="pt-3-half">12-05-2022</td>-->
<!--          <td class="pt-3-half">13-05-2022</td>-->
<!--          <td class="pt-3-half">400</td>-->
<!--          <td class="pt-3-half">800</td>-->
<!--          <td>-->
<!--                        <span class="table-remove">-->
<!--                            <button type="button" class="btn btn-info btn-rounded btn-sm my-0">Edit</button>-->
<!--                         </span>-->
<!--          </td>-->
<!--          <td>-->
<!--                      <span class="table-remove">-->
<!--                          <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button>-->
<!--                      </span>-->
<!--          </td>-->
<!--        </tr>-->
<!--        &lt;!&ndash; This is our clonable table line &ndash;&gt;-->
<!--        <tr class="hide">-->
<!--          <td class="pt-3-half">3</td>-->
<!--          <td class="pt-3-half">HD-0004</td>-->
<!--          <td class="pt-3-half">Trương Văn Cam</td>-->
<!--          <td class="pt-3-half">Phạm Băng Băng</td>-->
<!--          <td class="pt-3-half">Phòng Deluxe hướng vườn</td>-->
<!--          <td class="pt-3-half">01-05-2022</td>-->
<!--          <td class="pt-3-half">02-05-2022</td>-->
<!--          <td class="pt-3-half">100</td>-->
<!--          <td class="pt-3-half">500</td>-->
<!--          <td>-->
<!--                        <span class="table-remove">-->
<!--                            <button type="button" class="btn btn-info btn-rounded btn-sm my-0">Edit</button>-->
<!--                         </span>-->
<!--          </td>-->
<!--          <td>-->
<!--                      <span class="table-remove">-->
<!--                          <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">-->
<!--                          Remove-->
<!--                        </button>-->
<!--                      </span>-->
<!--          </td>-->
<!--        </tr>-->
        </tbody>
      </table>
    </div>
  </div>
</div>
