<div class="container-lg">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="contact-form">
        <h1>Add new Contract</h1>
        <form action="#" method="post" novalidate="novalidate">
          <div class="form-group">
            <label>Mã hợp đồng<span class="const">*</span>: </label>
            <input type="text" name="content" class="form-control" required/>
          </div>
          <div class="form-group">
            <label>Họ tên khách hàng<span class="const">*</span></label>
            <select class="form-control">
              <option value="1">Ngô Bá khá</option>
              <option value="2">Huỳnh Văn Bánh</option>
              <option value="3">Dương Minh Tuyền</option>
              <option value="4">Trương Văn Cam</option>
            </select>
          </div>
          <div class="form-group">
            <label>Tên nhân viên tạo hợp đồng<span class="const">*</span></label>
            <select class="form-control">
              <option value="1">Nguyễn Văn Bê</option>
              <option value="2">Phạm Băng Băng</option>
              <option value="3">Ngô Phước Thịnh</option>
              <option value="4">Lâm Tâm Như</option>
            </select>
          </div>
          <div class="form-group">
            <label>Tên dịch vu<span class="const">*</span>: </label>
            <select class="form-control">
              <option value="1">Phòng Superior hướng hồ</option>
              <option value="2">Phòng Deluxe hướng vườn</option>
              <option value="3">Phòng Deluxe hướng biển</option>
              <option value="4">Phòng Suite hướng biển</option>
              <option value="5">Phòng Studio Suite hướng biển</option>
            </select>
          </div>
          <div class="form-group">
            <label>Ngày bắt đầu<span class="const">*</span>: </label>
            <input type="date" name="content" class="form-control" required/>

          </div>
          <div class="form-group">
            <label>Ngày kết thúc<span class="const">*</span>: </label>
            <input type="date" name="content" class="form-control" required/>
          </div>
          <div class="form-group">
            <label>Đặt cọc: </label>
            <input type="text" name="content" class="form-control" required/>
          </div>
          <div class="form-group">
            <label>Tổng số tiền:  </label>
            <input type="text" name="content" class="form-control"
                   required/>

          </div>
          <div class="text-center">
            <a style="margin-right: 15px" href="/contracts" class="btn btn-primary"> Hủy
            </a>
            <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i>Xác nhận</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
