<div class="container-lg">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="contact-form">
        <h1>Create Service</h1>
        <form action="#" method="post" novalidate="novalidate">
          <!--                    <input type="hidden" th:value="${serviceTypeIdNow}" id="idNow" name="idNow">-->
          <div class="form-group">
            <label>Loại dịch vụ <span class="const">*</span> </label>
            <select class="form-control" id="id-serviceType">
              <option value="1">Create new Villa</option>
              <option value="2">Create new House</option>
              <option value="3">Create new Room</option>
            </select>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Mã dịch vụ <span class="const">*</span></label>
                <input type="text" name="author" class="form-control" required/>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="form-group">
                <label>Tên dịch vụ <span class="const">*</span> </label>
                <input type="text" name="author" class="form-control"
                       required/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Diện tích sử dụng (m<sup>2</sup>) <span class="const">*</span></label>
                <input type="text" name="content" class="form-control"
                       required/>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Giá dịch vụ <span class="const">*</span> </label>
                <input type="text" name="content" class="form-control"
                       required/>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Số người sử dụng tối đa: </label>
                <input type="text" name="content" class="form-control"
                       required/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Tiêu chuẩn phòng <span class="const">*</span> </label>
            <input type="text" name="content" class="form-control" required/>

          </div>
          <div class="form-group">
            <label>Mô tả </label>
            <textarea name="content" class="form-control" maxlength="255"  required></textarea>
          </div>
          <div class="form-group">
            <label> Kiểu thuê <span class="const">*</span> </label>
            <select class="form-control">
              <option value="1">Year</option>
              <option value="2">Month</option>
              <option value="3">Day</option>
              <option value="4">Hour</option>
            </select>
          </div>
          <div class="form-group" id="poolArea">
            <label>Diện tích hồ bơi (m<sup>2</sup>)</label>
            <input type="text" name="content" class="form-control"
                   required/>
          </div>
          <div class="form-group" id="numberOfFloors">
            <label>Số tầng </label>
            <input type="text" name="content" class="form-control"
                   required/>
          </div>
          <div class="text-center">
            <a style="margin-right: 15px" href="/services" class="btn btn-primary"> Hủy
            </a>
            <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i>Xác nhận</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

